[submodule "bullet3"]
	path = bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "base2.0"]
	path = base2.0
	url = https://github.com/makuto/base2.0
[submodule "tinygltf"]
	path = tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Horde3D"]
	path = Horde3D
	url = https://github.com/horde3d/Horde3D
[submodule "Handmade-Math"]
	path = Handmade-Math
	url = https://github.com/HandmadeMath/Handmade-Math
[submodule "linalg"]
	path = linalg
	url = https://github.com/sgorsten/linalg
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
