# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
spargus_vehicle_prototype
spargus_vehicle_prototype_ogre
spargus_vehicle_prototype_opengl	
spargus_vehicle_prototype_horde3D

# Blender backups
*.blend1

# Emacs stuff
TAGS

# Ogre stuff
*.cache
Ogre.log
hlmsDiskCache*
100000000PixelShader_ps.glsl
100000000VertexShader_vs.glsl
300000000PixelShader_ps.glsl
300000000VertexShader_vs.glsl

# Ignore generated assets
*.obj
*.dae
Content/**/*.geo
*.gltf
Collision/