[submodule "bullet3"]
	path = Dependencies/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "base2.0"]
	path = Dependencies/base2.0
	url = https://github.com/makuto/base2.0
[submodule "tinygltf"]
	path = Dependencies/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Horde3D"]
	path = Dependencies/Horde3D
	url = https://github.com/horde3d/Horde3D
[submodule "glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "tinyobjloader"]
	path = Dependencies/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "Dependencies/polyvox"]
	path = Dependencies/polyvox
	url = https://bitbucket.org/volumesoffun/polyvox.git
